
<div style="border-bottom: black; border-bottom-width: 2px; border-bottom-style: solid;">
    <a href="./homepage.html", class="title link" style="letter-spacing: 5px; font: 30px Avenir, serif;
     padding: 20px 20px 10px 20px; display: flex; justify-content: center;  margin-bottom: 0;">


        FlightFinder</a>

    <nav id="main-nav" data-target="navItem" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu is-spaced" style="justify-content: space-evenly">
            <a class="navbar-item link" id="about" href="">ABOUT</a>
            <a class="navbar-item link" id="bookings" href="">BOOKINGS</a>
            <a class="navbar-item link" id="contact" href="">CONTACT</a>

        </div>


    </nav>



 </div>

