
<div class="columns" style="border-bottom: black; border-bottom-width: 3px;
    border-bottom-style: solid; height: 70px; padding: 20px 0 10px 0;">
    <div class="column is-one-quarter" style="padding: 0;">
        <a href="./airlineweb.html", class="title link" style="letter-spacing: 5px; font: 30px Avenir, serif;
        display: flex; justify-content: center;  margin-bottom: 0;">FlightFinder</a>
    </div>

    <div class="column">
        <nav id="main-nav" data-target="navItem" class="navbar" role="navigation" aria-label="main navigation"
             style="height: 100%; min-height: 100%;">
            <div class="navbar-menu is-spaced" style="justify-content: space-evenly">
                <a class="navbar-item link" id="about" href="">ABOUT</a>
                <a class="navbar-item link" id="bookings" href="">BOOKINGS</a>
                <a class="navbar-item link" id="contact" href="">CONTACT</a>

            </div>
        </nav>

    </div>

 </div>

